<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <title>Inicio</title>
</head>

<%- include("header", {username: username}) %>

<body>
    <h1>Home</h1>


</body>

</html>